.footer {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 60px;
}

.footer__text {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8b8b8b;
  border-bottom: 1px solid #424242;
  padding-bottom: 20px;
}

.footer__items {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.footer__year {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

.footer__links {
  display: flex;
}

.footer__link {
  margin: 0;
  margin-right: 20px;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

.footer__link:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.footer__link:last-of-type {
  margin-right: 0;
}
