.about-me {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 112px;
}
.about-me__name {
  text-align: left;
  margin: 0;
}

.about-me__job {
  margin: 0;
  margin-top: 18px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
}

.about-me__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
}

.about-me__avatar {
  margin: 0;
  width: 270px;
  max-height: 327px;
  border-radius: 10px;
  margin-bottom: -300px;
}
.about-me__description {
  margin: 0;
  margin-top: 26px;
  max-width: 600px;
  line-height: 22px;
}

.about-me__github-link {
  display: inline-block;
  margin: 0;
  margin-top: 99px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.about-me__github-link:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
